// Primary Colors and Fonts
$font-stack: 'Bungee', cursive;
$primary-color : #185F5C;
$secondary-color: rgb(228, 228, 228);


* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
    padding: 2rem;
}

.logo {
    width: 75px;
    height: auto;
    border-radius: 50px;
}

nav ul {
    color: white;
    display: flex;
}

nav ul li {
    list-style: none;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 0.8rem;

}

nav ul li a {
    color: $secondary-color;
    text-decoration: none;
}

nav ul li a:hover {
    color: $secondary-color;
    text-decoration: underline;
}

.social-icons {
    margin: 0 1rem;
}