// Primary Colors and Fonts
$font-bungee: 'Bungee', cursive;
$font-space: 'Space Grotesk', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$primary-color : #185F5C;
$secondary-color: rgb(228, 228, 228);
$tertiary-color: #26B1A9;

// font-family: 'Bungee', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Space Grotesk', sans-serif;


* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    // background-color: $primary-color;
    font-family: $font-poppins;
    background: linear-gradient(#185F5C, #1F393A);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
    padding: 2rem;
}

.logo {
    width: 75px;
    height: auto;
    border-radius: 50px;
}

nav ul {
    color: white;
    display: flex;
}

nav ul li {
    list-style: none;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2.5rem;
    padding-top: 0rem;

}

nav ul li a {
    color: $secondary-color;
    text-decoration: none;
}

nav ul li a:hover {
    color: $secondary-color;
    text-decoration: underline;
}

.social-icons {
    margin: 0 0.5rem;
}

// section {
//     max-width: 75vw;
//     margin: auto;
// }

.row {
    max-width: 75vw;
    margin: auto;
}

#hero-row {
    padding: 10rem 0rem;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



.hr1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
    border-top: 10px solid $secondary-color;
}

.hero-text {
    font-size: 2rem;
    color: $secondary-color;
    font-weight: lighter;
}

#hero-image {
    width: 550px;
    padding-top: 2rem;
    padding-left: 4rem;
}

.scrollToRead,
.scrollArrow {
    padding-top: 3rem;
    color: $tertiary-color;
    font-size: 1.4rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

#scrollArrow {
    width: 30px;
}

#cards-section {
    background-color: $secondary-color;
    margin-top: -30px;
    padding-top: 80px;
}

#card-row {
    border: 1px solid #6f707a63;
    border-radius: 25px;
    max-width: 65vw;
    margin-top: 50px;
    margin-bottom: 80px;
}

.card {
    padding: 50px;
    display: flex;
}

.cardImage {
    margin-top: -85px;
    width: 450px;
    border-radius: 35px;
}

.card-details {
    padding-left: 25px;
}

// font styling

h1 {
    font-size: 6rem;
    color: white;
    line-height: 1.2;
}

h3 {
    font-family: $font-space;
}


p {
    font-family: $font-poppins;
    line-height: 1.4;
    font-weight: 500;
}