* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

$font-stack: 'Bungee', cursive;
$primary-color : #185F5C;


.Nav-left {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 100px;
  height: auto;
}